.App, body, html, #root {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  font-family: 'FuentePrincipal';
  
}
