body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'FuenteEspecial';
  src: url('./fonts/CormorantGaramond-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuentePrincipal';
  src: url('./fonts/HindSiliguri-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root{
  --Blanco: #EBEBEB;
  --Blanco2: #E0E1E6;
  --Dorado: #8C6E4A;
  --Negro: #000;
  --Rosado: #E7D7C9;

}

